@import url("https://fonts.googleapis.com/css2?family=Assistant:wght@200..800&display=swap");

* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
  font-family: "Assistant", sans-serif;
}
a {
  text-decoration: none;
  color: inherit;
  margin: 0px;
  padding: 0px;
}
header {
  width: 100%;
  height: 80px;
  background-color: white;
  box-shadow: 0 4px 12px 0 rgba(0, 0, 0, 0.05);
  position: fixed;
  top: 0;
  left: 0;
}
.container {
  width: 1337px;
  height: 100%;
  margin: auto;
  display: flex;
  justify-content: space-around;
  align-items: center;
  position: relative;
}
.container .logo {
  width: 53px;
  height: 36px;
  background: url(../imgaes/MyntraWebSprite_27_01_2021.png);
  background-size: 1404px 105px;
  background-position: -462px 0;
  margin-left: 38px;
}
nav {
  width: 515px;
  height: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  color: #282c3f;
  font-size: 14px;
  font-weight: 700;
  word-spacing: 2px;
  margin-right: 123px;
  margin-left: -25px;
}
nav > div {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
nav > div:nth-child(1):hover {
  border-bottom: 2px solid #ee5f73;
}
nav > div:nth-child(2):hover {
  border-bottom: 2px solid #fb56c1;
}
nav > div:nth-child(3):hover {
  border-bottom: 2px solid #f26a10;
}
nav > div:nth-child(4):hover {
  border-bottom: 2px solid #f2c210;
}
nav > div:nth-child(5):hover {
  border-bottom: 2px solid #0db7af;
}
nav > div:nth-child(6):hover {
  border-bottom: 2px solid red;
}
nav > div:hover .mensection {
  opacity: 1;
  visibility: visible;
}
nav > div:hover .womensection {
  opacity: 1;
  visibility: visible;
}
nav > div:hover .kidsection {
  opacity: 1;
  visibility: visible;
}
nav > div:hover .homesection {
  opacity: 1;
  visibility: visible;
}
nav > div:hover .beautysection {
  opacity: 1;
  visibility: visible;
}
nav > div:hover .studiosection {
  opacity: 1;
  visibility: visible;
}
.search-section {
  width: 320px;
  height: 40px;
  padding: 10px;
  background-color: #f5f5f6;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 5px;
}
.search-section input {
  width: 100%;
  height: 100%;
  border: none;
  outline: none;
  background-color: #f5f5f6;
}
.icon {
  width: 194px;
  height: 40px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.icon > div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.mensection {
  width: 1140px;
  margin: 80px auto;
  display: flex;
  position: absolute;
  top: 5px;
  left: 100px;
  opacity: 0;
  visibility: hidden;
  background-color: white;
  padding-left: 20px;
  transition: 0.7s;
}
.womensection {
  width: 1140px;
  margin: 80px auto;
  display: flex;
  position: absolute;
  top: 5px;
  left: 100px;
  opacity: 0;
  visibility: hidden;
  background-color: white;
  padding-left: 20px;
  transition: 0.7s;
}
.kidsection {
  width: 1140px;
  margin: 80px auto;
  display: flex;
  position: absolute;
  top: 5px;
  left: 100px;
  opacity: 0;
  visibility: hidden;
  background-color: white;
  padding-left: 20px;
  transition: 0.7s;
}
.homesection {
  width: 1140px;
  margin: 80px auto;
  display: flex;
  position: absolute;
  top: 5px;
  left: 100px;
  opacity: 0;
  visibility: hidden;
  background-color: white;
  padding-left: 20px;
  transition: 0.7s;
}
.beautysection {
  width: 1140px;
  margin: 80px auto;
  display: flex;
  position: absolute;
  top: 5px;
  left: 100px;
  opacity: 0;
  visibility: hidden;
  background-color: white;
  padding-left: 20px;
  transition: 0.7s;
}
.studiosection {
  width: 545px;
  height: 454px;
  position: absolute;
  top: 83px;
  left: 300px;
  opacity: 0;
  visibility: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: white;
  transition: 0.7s;
}
.men-1 {
  padding-left: 20px;
}
.men-2 {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}
.men-1:nth-child(even) {
  background-color: #f5f5f6;
}
.men-1 {
  width: 230px;
}
.men-1 > div {
  width: 200px;
}
.men-1 h4 {
  color: red;
  font-weight: bold;
  position: static;
}
.mensection h4 {
  color: #ee5f73;
}
.womensection h4 {
  color: #fb56c1;
}
.kidsection h4 {
  color: #f26a10;
}
.homesection h4 {
  color: #f2c210;
}
.beautysection h4 {
  color: #0db7af;
}
.men-1 ul {
  list-style: none;
  border-bottom: 1px solid gray;
  line-height: 27px;
}
.men-1 ul li:hover {
  font-size: 17px;
  cursor: pointer;
}

section {
  width: 1320px;
  margin: auto;
  margin-top: 25px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 100px;
}
.off {
  position: fixed;
  width: 288px;
  height: 44px;
  top: 300px;
  right: -115px;
  transform: rotate(270deg);
  color: white;
  background-color: #535766;
  display: flex;
  padding-top: 4px;
  border-radius: 2px;
  z-index: 1;
}
.off p {
  width: 220px;
  height: 100%;
  padding-left: 16px;
  font-size: 24px;
  font-weight: 700;
  letter-spacing: 4px;
  text-align: center;
}
.off div {
  width: 60px;
  height: 100%;
  padding-left: 20px;
}
.new {
  position: fixed;
  width: 40px;
  height: 20px;
  top: 462px;
  right: 4px;
  font-size: 14px;
  font-weight: bold;
  background-color: rgba(255, 179, 0, 1);
  color: white;
  text-align: center;
  border-radius: 3px;
  z-index: 2;
}
.bell {
  position: fixed;
  width: 44px;
  height: 44px;
  background-color: #1d85fc;
  border-radius: 50%;
  top: 473px;
  right: 22px;
  font-size: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  z-index: 1;
}
.pic {
  width: 1318px;
  height: 195px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.pic img {
  width: 305px;
  height: 200px;
}
.pic2 {
  width: 100%;
  height: 400px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.pic2 img {
  width: 674px;
  height: 400px;
}
.pic3 {
  width: 100%;
  height: 128px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.pic3 img {
  width: 662px;
  height: 128px;
}
.pic4 {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: start;
}
.pic4 img {
  width: 333px;
  height: 35px;
}
.pic5 {
  width: 100%;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.pic5 img {
  width: 1318px;
  height: 85px;
}
.pic6 {
  width: 1318px;
  height: 145px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.pic6 img {
  width: 668px;
  height: 144px;
}
.pic7 {
  width: 100%;
  height: 141px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.pic7 img {
  width: 1335px;
  height: 140px;
}
.pic8 {
  width: 100%;
  height: 222px;
  display: flex;
  overflow: hidden;
  margin-top: 20px;
}
.pic8 img {
  width: 185px;
  height: 220px;
}
.pic9 {
  width: 100%;
  height: 113px;
  margin-top: 25px;
}
.pic9 img {
  width: 100%;
  height: 113px;
}
.pic10 {
  width: 100%;
  display: flex;
  overflow: hidden;
  margin-top: 20px;
}

.pic10 img {
  width: 272px;
  height: 295px;
}
.pic14 img {
  width: 337px;
  height: 442px;
}
.pic11 {
  width: 100%;
  height: 85px;
  display: flex;
  margin-top: 20px;
}
.pic11 a img {
  width: 1320px;
  height: 85px;
}
.pic12 {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin: auto;
}
.pic12 img {
  width: 220px;
  height: 230px;
}
.pic13 {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.pic13 img {
  width: 1320px;
  height: 246px;
}
footer {
  width: 100%;
  background-color: #fafbfc;
}
.foot {
  width: 1225px;
  margin: auto;
  padding-top: 25px;
  display: flex;
  align-items: start;
  padding-left: 63px;
}
.foot1 {
  width: 175px;
  display: flex;
  flex-direction: column;
}
.foot1-1 {
  color: #282c3f;
  font-size: 14px;
  font-weight: bold;
}
.foot1-2 {
  width: 100%;
  list-style: none;
  color: #696b79;
  line-height: 25px;
  padding-top: 20px;
}
.foot1-2 ul {
  list-style: none;
}
.foot2 {
  width: 175px;
}
.foot3 {
  width: 380px;
  height: 175px;
}
.foot3-2 {
  width: 320px;
  height: 46px;
  display: flex;
  justify-content: space-between;
  margin-top: 25px;
}
.foot3-2 img {
  width: 155px;
  height: 42px;
}
.foot3-1-2 {
  width: 140px;
  height: 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.foot3-1-2 a img {
  width: 25px;
  height: 25px;
}
.foot4 {
  width: 250px;
  height: 159px;
}
.foot4-1 {
  width: 270px;
  height: 42px;
  display: flex;
  align-items: start;
  justify-content: start;
}
.foot4-1 img {
  width: 48px;
  height: 40px;
}
.foot4-1 p {
  padding-left: 15px;
}
.foot4-1 p span {
  font-size: 15px;
  font-weight: bold;
}
.f1 {
  width: 1111px;
  margin: auto;
  margin-top: 45px;
  border-top: 1px solid #eaeaec;
}
.f1-1 {
  width: 119px;
  height: 15px;
  margin-top: -6px;
  background-color: #fafbfc;
  color: #282c3f;
  font-weight: 700;
  font-size: 13px;
}
.f1-2 {
  width: 1105px;
  color: #282c3f;
  background-color: #fafbfc;
  padding-top: 10px;
  line-height: 25px;
  word-spacing: 2px;
}
.f1-3 {
  width: 1105px;
  height: 40px;
  margin-top: 25px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.f1-3-1 {
  width: 326px;
  height: 30px;
  display: flex;
  justify-content: start;
  align-items: center;
}
.f4 {
  width: 100%;
  border-top: 1px solid #eaeaec;
  padding-top: 30px;
  margin-top: 20px;
  background-color: #fafbfc;
  display: flex;
  justify-content: space-between;
}
.f4-1 {
  width: 350px;
}
.f4-1-1 {
  color: #282c3f;
  font-weight: 700;
  background-color: #fafbfc;
}
.f4-1-2 {
  color: #282c3f;
  padding-top: 40px;
}
.f4-2 {
  width: 230px;
  height: 212px;
  background-color: #fafbfc;
  color: #282c3f;
  display: flex;
  align-items: end;
  justify-content: start;
}

.f5 {
  width: 100%;
  margin-top: 25px;
  padding-top: 10px;
  border-top: 1px solid #eaeaec;
  padding-bottom: 40px;
}
.f5 h4 {
  margin-top: 20px;
  color: #535766;
  font-weight: 700;
}
.f5 p {
  color: #94969f;
  margin-top: 5px;
  font-size: 14px;
}
.f5 span {
  margin-top: 20px;
  color: #535766;
  font-weight: 700;
}
.f5 li {
  margin-left: 67px;
  color: #94969f;
  margin-top: 5px;
  font-size: 14px;
}
.hp1 {
  width: 1210px;
  margin: auto;
}
.hp1 img {
  width: 1204px;
  height: 317px;
}
.hp {
  width: 100%;
  height: 1397px;
  display: flex;
}
.hp2 {
  width: 963px;
  height: 1397px;
}
.hp2 h1 {
  color: #3e4152;
  font-weight: 700;
  letter-spacing: 5px;
  font-size: 27px;
  margin-left: 70px;
  margin-top: 50px;
}
.hp2-2 {
  width: 950px;
  height: 395px;
  display: flex;
  justify-content: end;
  align-items: end;
}
.hp2-2 img {
  width: 450px;
  height: 346px;
  transition: 1s;
}
.imgh {
  width: 450px;
  height: 346px;
  margin-left: 10px;
  overflow: hidden;
  
}
.imgh1 {
  width: 450px;
  height: 346px;
  margin-left: 10px;
  overflow: hidden;
}
.hp2-2 img:hover {
transform: scale(1.1);
}
.hp3 {
  width: 385px;
  height: 1397px;
}
.hp3 ul li {
  list-style: none;
  font-weight: 500;
  font-size: 15px;
  color: #3e4152;
  padding: 9px 0 0 30px;
}
.hp3 ul li a:hover {
  text-decoration: underline;
}
.sec {
  width: 100%;
}
.hp4 {
  width: 100%;
}
.hp4 img {
  width: 100%;
  height: 182px;
}
.hp4-1 {
  width: 100%;
  height: 425px;
  margin-top: -5px;
  background-color: rgb(239, 237, 237);
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}
.hp4-1 img {
  width: 402px;
  height: 425px;
  transition: 1s;
}
.hp4-1 img:hover {
  transform: scale(1.1);
}
.hp5 {
  width: 100%;
  height: 400px;
}
.hp5-5 {
  width: 1200px;
  height: 164px;
  margin-left: 60px;
}
.hp5-5 img {
  width: 1190px;
  height: 160px;
}
.hp5-1 {
  width: 1297px;
  display: flex;
  justify-content: space-around;
  margin: auto;
}
.hp5-1-1 {
  width: 237px;
  height: 153px;
  overflow: hidden;
  transition: 0.5s;
}
.hp5-1 img {
  width: 237px;
  height: 153px;
  transition: 1s;
}
.hp5-1 img:hover {
transform: scale(1.1);
}
.kp1 {
  width: 1310px;
  overflow: hidden;
  display: flex;
  justify-content: center;
}
.kp1 img {
  width: 1300px;
  height: 340px;
}
.kp2 {
  width: 1259px;
  height: 135px;
  display: flex;
  align-items: center;
  justify-content: start;
}
.kp2 {
  color: #3e4152;
  text-transform: capitalize;
  letter-spacing: 5px;
  font-weight: 700;
  font-size: 30px;
}
